* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    /*не виходило за кордони боксу*/
}

html {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    /* (на 30пкс больше чем, в макете тк паддинги) */
    margin-left: auto;
    margin-right: auto;
    /*центрируем */
    padding-right: 15px;
    /*чтоб не искажалось при масштрабировании*/
    padding-left: 15px;
}

.btn {
    display: inline-block;
    padding: 15px 16px;
    font-size: 12px;
    line-height: 1;
    /*висота розміру шрифта*/
    text-transform: uppercase;
    color: white;
    background-color: #3172b9;
    border-radius: 4px;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* Heading */

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-right: auto;
    /*отталкиваем соседей в право*/
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
    /*отталкиваем кнопку*/
}

.header {
    height: 110px;
}

.header-btn {
    margin-left: 80px;
}

/* Hero */

.hero-container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.hero-content {
    max-width: 50%;
    /*уменьшаем ширину контейнера*/
}

.section-hero-heading {
    margin-bottom: 20px;
}

.section-hero-description {
    margin-bottom: 30px;
}

.section-hero-btn-description {
    margin-top: 10px;
}

/*what We do*/
.section-do {
    padding-top: 140px;
    padding-bottom: 100px;
}

.section-description {
    margin-top: 25px;
}

.section-do-list {
    display: flex;
    margin-top: 50px;
}

.section-do-item {
    flex: 1 1 25%;
    /*разрешаем расти/разрешаем сжиматься/25% тк 4 карточки*/
    outline: 3px solid red;
}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}

/*Our Happy Clients*/
.section-clients {
    padding-top: 90px;
    padding-bottom: 100px;
}

.section-clients-list {
    display: flex;
    margin-top: 35px;
}

.section-clients-item {
    flex: 1 1 33, 3%;
    /*разрешаем расти/разрешаем сжиматься/33,3% тк 3 карточки*/
}

.section-clients-item:not(:last-child) {
    margin-right: 30px;
}

.section-clients-user {
    display: flex;
    align-items: center;
}

.section-clients-avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 2px solid #5188c4;
    border-radius: 50%;
    /*делаем круг*/
}

/* Contacts*/
.section-contacts {
    padding-top: 85px;
    padding-bottom: 95px;
}

.section-contacts-list {
    display: flex;
    margin-top: 43px;
}

.section-contacts-item {
    flex: 1 1 33.3%;
}

.section-contacts-info {
    max-width: 250px;
}

.section-contacts-icon {
    display: block;
    height: 26px;
    margin-bottom: 25px;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    /*перше-ширина друга-висота*/
    border-color: transparent;
}

.section-contacts-icon-gps {
    background-image: url(/img/gps.png);
}

.section-contacts-icon-phone {
    background-image: url(/img/phone.png);
}

.section-contacts-icon-mail {
    background-image: url(/img/mail.png);
    background-size: auto 19px;
    /*перше-ширина друга-висота*/
}

.section-contacts-heading {
    display: block;
    margin-bottom: 40px;
}

/* Footer */
.footer {
    height: 125px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-nav-list {
    display: flex;
}

.footer-nav-item:not(:last-child) {
    margin-right: 35px;
}